@model QLRHM.Models.ThanhToan
@using QLRHM.Models
@using System.Security.Claims;

@{
    Layout = "~/Views/Shared/Qlkh.cshtml";
    string username = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name)?.ValueType;
}
<style>
    .form1 {
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        color: black;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: 8px;
        /*  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
        border: 1px solid #b6b6b6;
    }

        .form1 .a {
            font-weight: 700;
        }

    .demo-consoles {
        background-color: white;
    }
</style>
<div class="container-fluid py-5 ">
    <div class="container" style="border: 0px solid #b8ceff;padding-bottom:10px">
        <center>   <a style="text-align:center;font-weight:600;padding-top:10px;padding-bottom:10px ;color:red">Thêm phiếu thanh toán</a></center>
        <hr>
        @using (Html.BeginForm("SuaPhieuThanhToan", "ThanhToans", FormMethod.Post, new { enctype = "multipart/form-data", id = "ApplicantForm" }))
        {


            <div  class="container-fluid" style="color:black">
                <div class="row">
                    <div class="row" style="border: 2px solid #b8ceff;padding-bottom:10px;color:black">

                        <div class="col-md-3" style="display:none">
                            <div class="form-group">
                                <label class="control-label">Mã phiếu thanh toán</label>
                                <div class="input-group">
                                    <input style="background-color:white;color:blue" asp-for="Idtt" type="text"  class="form-control" readonly />
                                </div>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Mã phiếu thanh toán</label>
                                <div class="input-group">
                                    <input style="background-color:white;color:blue" asp-for="MaThanhToan" type="text"  class="form-control" readonly />
                                </div>
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Thu ngân</label>
                            @* <select class="demo-consoles selectize"  asp-for="Idbs" asp-items="ViewBag.Idbs" placeholder="..Chọn.."></select> *@
                            <input class="form-control" placeholder="..Chọn.." readonly value=" @User.Claims.FirstOrDefault(x=>x.Type == ClaimTypes.Name)?.ValueType">

                            <input type="hidden" asp-for="Idbs" value="@User.Claims.FirstOrDefault(x=>x.Type == "BacSiID")?.Value">
                        </div>
                        <div class="col-md-3" style="display:none">
                            <div class="form-group">
                                <label class="control-label">Bệnh nhân</label>
                                <div class="input-group">
                                    <input class="demo-consoles selectize" name="Idbn" value="@ViewBag.BenhNhan.Idbn">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Bệnh nhân</label>
                                <div class="input-group">
                                    <input class="form-control" value="@($"{ViewBag.BenhNhan.MaBenhNhan} - {ViewBag.BenhNhan.TenBn}- {ViewBag.BenhNhan.FormatNgaySinh}")">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Ngày tạo phiếu</label>
                                <div class="input-group">
                                    <input asp-for="NgayThanhToan" type="text" class="form-control" readonly />
                                </div>
                                <span class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <a style="text-align:center;font-weight:600;padding-top:10px;padding-bottom:10px ;color:red">Thêm nội dung thanh toán</a>
                    <div class="row" style="padding-bottom:10px;">

                        <table id="ExpTable" class="table table-striped test "style="max-height:430px;overflow:auto;" >
                            <thead >

                                <tr style="background-color:#eff6fe;border:3px solid #b8ceff">

                                  @*   <th>
                                        Ngày thanh toán
                                    </th> *@
                                    <th>
                                        Hình thức thanh toán
                                    </th>
                                    <th>
                                        Công việc điều trị
                                    </th>
                                    <th>
                                        Số tiền thanh toán
                                    </th>
                                   
                                    <th>
                                      Lịch thanh toán
                                    </th>
                                     <th>
                                      Trạng thái
                                    </th>
                                    <th style="width:6%">
                                      Xuất pdf
                                    </th>

                                  @*   <th style="width:3.5%">
                                        <button id="btnadd-" type="button" class="btn btn-sm btn-success visible"
                                                onclick="AddItem(this)">
                                            <i class='bx bx-plus-medical'></i>
                                        </button>
                                    </th> *@
                                </tr>
                            </thead>
                            <tbody>


                                @for (int i = 0; i < Model.MasterNdtt.Count; i++)
                                {
                                        <tr>
                                                @if (@Model.MasterNdtt[i].ThanhToan == "1")
                                                {
                                                    <input type="hidden" asp-for="@Model.MasterNdtt[i].IsDelete" />
                                                    <td>
                                                        <select asp-for="@Model.MasterNdtt[i].Idhttt" asp-items="ViewBag.tt" disabled class="form-select  " required></select>
                                                         <input asp-for="@Model.MasterNdtt[i].Idhttt" type="hidden"  />
                                                    </td>
                                                    <td>
                                                        <input asp-for="@Model.MasterNdtt[i].Idndkh" type="hidden" value="@Model.MasterNdtt[i].Idndkh" />
                                                        <select asp-for="@Model.MasterNdtt[i].Idndkh" asp-items="ViewBag.noidungkhdt" disabled class="form-select selectIdcvdt" readonly>
                                                             <option value="1">--Chọn--</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input asp-for="@Model.MasterNdtt[i].SoTienThanhToan" type="text" class="form-control don-gia" readonly onkeyup="formatCurrency(this)" placeholder="Không được bỏ trống đơn giá" />
                                                    </td>
                                                    
                                                    <td style="width: 13.5%">
                                                        <input asp-for="@Model.MasterNdtt[i].FormatNgayTao"   type="text" class="form-control" readonly />
                                                        <input asp-for="@Model.MasterNdtt[i].NgayTao"   type="hidden" class="form-control" readonly />
                                                        <span asp-validation-for="@Model.MasterNdtt[i].NgayTao"></span>
                                                    </td>

                                                    <td style="width: 12%">

                                                        <select asp-for="@Model.MasterNdtt[i].ThanhToan"  disabled class="form-select ThanhToanSelect" required>
                                                            <option selected value="1" >Đã thanh toán</option>

                                                        </select>
                                                <input asp-for="@Model.MasterNdtt[i].ThanhToan" type="hidden" />
                                                    </td>
                                            <td style="width:6%;text-align: center;">
                                                <a href="@Url.Action("PdfXacNhanTT", "BenhNhans", new { id = @Model.MasterNdtt[i].Idndtt, id2 = ViewBag.BenhNhan.Idbn, id3 = @Model.MasterNdtt[i].IdttNavigation.Idtt  })">
                                                    <box-icon name='file-pdf' type='solid' color='#e83f3f' animation='tada-hover'></box-icon>
                                                </a>
                                            </td>
                                                }
                                                else
                                                {
                                                         <input type="hidden" asp-for="@Model.MasterNdtt[i].IsDelete" />

                                                    <td>
                                                        <select asp-for="@Model.MasterNdtt[i].Idhttt" asp-items="ViewBag.tt" class="form-select  " required></select>
                                                    </td>

                                                    <td>                                                       
                                                        <select asp-for="@Model.MasterNdtt[i].Idndkh" asp-items="ViewBag.noidungkhdt" disabled class="form-select selectIdcvdt" readonly>
                                                                  
                                                        </select>
                                                        <input asp-for="@Model.MasterNdtt[i].Idndkh" type="hidden" value="@Model.MasterNdtt[i].Idndkh" />
                                                        <input asp-for="@Model.MasterNdtt[i].Ntao" type="hidden" value="@username" />

                                                    </td>

                                                    <td>
                                                        <input asp-for="@Model.MasterNdtt[i].SoTienThanhToan" type="text" class="form-control don-gia" required onkeyup="formatCurrency(this)" placeholder="Không được bỏ trống đơn giá" />
                                                    </td>
                                         
                                                    <td style="width: 13.5%">
                                                            <input asp-for="@Model.MasterNdtt[i].NgayTao" type="datetime" value="@DateTime.Now" readonly class="form-control" />
                                                            <span asp-validation-for="@Model.MasterNdtt[i].NgayTao" ></span>
                                                    </td>
                                                    <td style="width: 12%">
                                                        <select asp-for="@Model.MasterNdtt[i].ThanhToan"  class="form-select ThanhToanSelect" required>
                                                          
                                                            <option  value="0">Chưa thanh toán</option>
                                                             <option value="1">Đã thanh toán</option>

                                                        </select>
                                                    </td>
                                                   
                                                  <td></td>
                                                }
                                        </tr>
                                }


                            </tbody>
                        </table>
                    </div>

                    <input type="hidden"  id="hdnLastIndex" value="0" />

                    <div class="row" style=" height:50px; justify-content: flex-start ;border:2px solid #b8ceff">

                        <div class="col-md-10">
                            <a class="form1" style="font-weight: 700;"><i class="fa-solid fa-file-pen"></i> Tổng tiền công việc: <span style="font-weight:500;color:blue" id="TienTT">0</span></a>
                            <a class="form1" style="font-weight: 700;"><i class="fa-solid fa-pen-nib"></i> Tổng tiền thanh toán: <span style="font-weight:500;color:blue" id="tong-tien">0</span></a>
                        </div>




                        <div class="col-md-2" >
                            <a  id="back" class="btn btn-primary">Quay lại</a>
                            @if (ViewBag.noidungkhdt != null && (Enumerable.Count(ViewBag.noidungkhdt) > 0))
                            {
                                <input type="submit" value="Lưu" onclick="return ConfirmSave(this);" class="btn btn-primary save-button" />
                            }
                            
                        </div>
                            

                    </div>


                </div>
            </div>
        }

    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
    </script>
}

<script>
    $(document).ready(function () {
        // Lắng nghe sự kiện khi có sự thay đổi trong select .selectIdcvdt
        $(document).on("change", ".selectIdcvdt", function () {
            calculateTotal();
            calculateTienTT();
            checkAndShowSaveButton();
        });

        // Gọi hàm tính toán TienTT khi trang được nạp
        calculateTienTT();

        // ... Các phần hiện có trong script của bạn ...
    });

    function calculateTienTT() {
        var selectedOptions = $(".selectIdcvdt option:selected");

        var uniqueValues = {}; // Sử dụng đối tượng để loại bỏ các giá trị trùng lặp
        selectedOptions.each(function () {
            uniqueValues[$(this).val()] = true;
        });

        var total = 0;
        for (var value in uniqueValues) {
            var selectedOption = @Html.Raw(Json.Serialize(ViewBag.noidungkhdt))
                        .find(option => option.value == value);

            if (selectedOption) {
                var donGiaText = selectedOption.text.split('-')[1].trim(); // Lấy phần sau dấu '-'
                var donGia = parseFloat(donGiaText.replace(/\./g, "").replace(/,/g, ".")) || 0;
                total += donGia;
            }
            else {
                total +=0;
            }
        }

        // Hiển thị tổng tiền đã tính được trong phần tử có id là "TienTT"
        $("#TienTT").text(total.toLocaleString("vi-VN"));
    }

    $(document).ready(function () {
        // Lắng nghe sự kiện khi có sự thay đổi trong các ô đơn giá
        $(document).on("input", ".form-control.don-gia", function () {
            calculateTotal();
        });

        // Lắng nghe sự kiện khi có thay đổi trong select .selectIdcvdt
        $(document).on("change", ".selectIdcvdt", function () {
            var selectedValue = this.value;
            var selectedOption = @Html.Raw(Json.Serialize(ViewBag.noidungkhdt))
                            .find(option => option.value == selectedValue);

            if (selectedOption) {
                var donGiaInput = $(this).closest('tr').find('.don-gia');
                if (donGiaInput.length > 0) {
                    var donGiaText = selectedOption.text.split('-')[1].trim(); // Lấy phần sau dấu '-'
                    donGiaInput.val(donGiaText);

                    // Cập nhật giá trị và kích hoạt sự kiện input để tính tổng
                    donGiaInput.trigger("input");
                }
            }
        });

        // Khởi tạo tổng tiền ban đầu
        calculateTotal();

        function calculateTotal() {
            var total = 0;
            $(".don-gia").each(function () {
                var donGia = parseFloat($(this).val().replace(/\./g, "").replace(/,/g, ".")) || 0;
                total += donGia;
            });

            // Hiển thị tổng tiền đã tính được trong phần tử có id là "tong-tien"
            $("#tong-tien").text(total.toLocaleString("vi-VN"));
            checkAndShowSaveButton();
        }


        function checkAndShowSaveButton() {
            var totalCongViec = parseFloat($("#TienTT").text().replace(/\./g, "").replace(/,/g, ".")) || 0;
            var totalThanhToan = parseFloat($("#tong-tien").text().replace(/\./g, "").replace(/,/g, ".")) || 0;

            if (totalCongViec === totalThanhToan) {
                // Nếu tổng tiền công việc và tổng tiền thanh toán bằng nhau, hiển thị nút "Lưu"
                $(".save-button").show();
            } else {
                // Ngược lại, ẩn nút "Lưu"
                $(".save-button").hide();
            }
        }


    });
    $(document).ready(function () {
        function checkAndShowSaveButton() {
            var totalCongViec = parseFloat($("#TienTT").text().replace(/\./g, "").replace(/,/g, ".")) || 0;
            var totalThanhToan = parseFloat($("#tong-tien").text().replace(/\./g, "").replace(/,/g, ".")) || 0;

            if (totalCongViec === totalThanhToan) {
                // Nếu tổng tiền công việc và tổng tiền thanh toán bằng nhau, hiển thị nút "Lưu"
                $(".save-button").show();
            } else {
                // Ngược lại, ẩn nút "Lưu"
                $(".save-button").hide();
            }
        }
    });
</script>

<script src="~/js/ptt.js" asp-append-version="true"></script>














