@model QLRHM.Models.TaiKhoan

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TaiKhoan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTaiKhoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTaiKhoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatKhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ntao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ntao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nsua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nsua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdbsNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdbsNavigation.Idbs)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idtk" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
