@model IEnumerable<QLRHM.Models.LichHen>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaLichHen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LyDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayHen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioHen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ntao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nsua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdndkhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLichHen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LyDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayHen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioHen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ntao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nsua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdndkhNavigation.Idndkh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idlh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idlh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idlh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
