@model IEnumerable<QLRHM.Models.NoiDungKeHoach>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoLan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ntao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nsua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdbsdtNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdcvdtNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdkhdtNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoLan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ntao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nsua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdbsdtNavigation.Idbs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdcvdtNavigation.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdkhdtNavigation.Idkhdt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idndkh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idndkh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idndkh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
