@model IEnumerable<QLRHM.Models.KeToa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaToaThuoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayLap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuanDoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdbnNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdbsNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaToaThuoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuanDoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdbnNavigation.Idbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdbsNavigation.Idbs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
