@model QLRHM7.Models.PhongKham
@using QLRHM7.Models;
@using QLRHM.Models;
@inject QLRHM.Models.DatnqlrhmContext _context

@{
    Layout = "~/Views/Shared/Home.cshtml";

}

<div class="container-fluid py-5 ">
    <div class="container">
        <ul style="font-weight:bold" class="nav nav-tabs custom-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><i class="fa-solid fa-people-robbery"></i>&nbsp; Danh sách phòng khám</a></li>
        </ul>

        <button id="toggleFormButton" class="btn btn-primary">Bật/tắt phiếu thêm</button>
       

        <!-- The Modal -->

        @using (Html.BeginForm("Create", "PhongKhams", FormMethod.Post, new { id = "myForm" }))
        {
            @Html.AntiForgeryToken()
            <center><b style="font-weight:900 ; color:red">Thêm phòng khám</b></center>
            <div class="container-fluid" style="border: 2px solid #b8ceff;padding-bottom:10px;color:black">
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Mã phòng khám</label>
                            <div class='input-group'>
                                <input style="background-color:white;color:blue" asp-for="MaPhong" type="text" value="@ViewBag.GeneratedMaP" class="form-control" readonly />
                            </div>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Tên phòng khám</label>
                            <div class='input-group'>
                                <input asp-for="TenPhong" id="TenNbs" type="text" class="form-control" required oninvalid="this.setCustomValidity('Không được bỏ trống tên nhóm');" oninput="setCustomValidity('')" />
                            </div>
                            <span id="TenNCVError" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Ngày thêm</label>
                            <div class='input-group'>
                                <input asp-for="NgayThem" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")" class="form-control" readonly />
                            </div>
                            <span class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                            <input style="color:black" type="submit" value="Lưu" class="btn btn-primary form-control" />
                        </div>
                    </div>

                </div>
            </div>

        }

        <div class="col-md-9">
            <table class="table" id="example">
                <thead>
                    <tr style="background-color:#eff6fe;border: 5px solid  rgba(135,206,250,0.5);">
                        <th>
                            Stt
                        </th>

                        <th style="width:11%">
                            Mã phòng khám
                        </th>

                        <th style="width:12%">
                            Tên phòng khám
                        </th>
                        <th style="width:8%">
                            Ngày thêm
                        </th>

                        <th style="width:10%">Tuỳ chỉnh</th>
                    </tr>
                </thead>

                <tbody>
                    @{


                        int stt = 001;
                        foreach (PhongKham PK in ViewBag.PK)
                        {
                            bool phong = _context.BenhNhans.Any(a => a.Phong == PK.Id);
                            <tr class="Phong">
                                <td style="width:2%">
                                    @stt
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => PK.MaPhong)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => PK.TenPhong)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => PK.NgayThem)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-controller="PhongKhams" asp-route-id="@PK.Id">
                                        <box-icon name='edit' animation='tada-hover' color='#3b78ec'></box-icon>
                                    </a>
                                 @*   <button type="button" class="btn btn-primary open-modal" data-bs-toggle="modal" data-bs-target="#myModal" data-url="@Url.Action("Details", new { id = PK.Id })">
                                        Open Modal
                                    </button>

                                    <div class="modal" id="myModal" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div id="partial-view-container"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                                    @if (!phong)
                                    {
                                        <a asp-controller="PhongKhams" asp-action="Delete" data-name="@PK.TenPhong" onclick="return XoaPhong(this);" asp-route-id="@PK.Id">
                                            <box-icon name='trash' animation='tada-hover' color='red'></box-icon>
                                        </a>
                                    }
                                    else
                                    {

                                    }

                                </td>
                            </tr>
                            stt++; // Tăng số thứ tự sau mỗi lần lặp
                        }
                    }
                   
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    var object = { stat: false, ele: null };

    function XoaPhong(link) {
        var tenPhong = link.getAttribute("data-name");
        if (object.stat) {
            return true;
        }

        swal({
            title: "Bạn có muốn xoá",
            text: "Phòng: " + tenPhong,
            type: "warning",
            icon: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn btn-danger",
            confirmButtonText: "Xoá!",
            cancelButtonText: "Huỷ",
            closeOnConfirm: true
        }, function () {
            swal("Xoá!", "Đã Hiện thành công.", "success");
            object.stat = true;
            object.ele = link;
            object.ele.click();
        });

        return false;
    }
</script>




<script>
    function capitalizeFirstLetter(input) {
        var words = input.value.split(' ');
        var capitalizedWords = words.map(function (word) {
            return word.charAt(0).toUpperCase() + word.slice(1);
        });
        input.value = capitalizedWords.join(' ');
    }
</script>
<script>
    $(document).ready(function () {
        // Sử dụng sự kiện change cho select element với ID là "yourId"
        $("#Phong").on("change", function () {
            var searchText = $(this).val().toLowerCase();
            $(".Phong").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
            });
        });
    }); $(document).ready(function () {
        // Sử dụng sự kiện change cho select element với ID là "yourId"
        $("#IdNcv2").on("change", function () {
            var searchText = $(this).val().toLowerCase();
            $(".hide").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
            });
        });
    });


    $(document).ready(function () {
        $('.open-modal').click(function () {
            var url = $(this).data('url');
            $.get(url, function (data) {
                $('#partial-view-container').html(data);
                $('#myModal').modal('show');
            });
        });
    });


</script>
