@model QLRHM.Models.HinhThucThanhToan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HinhThucHanhToan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHttt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHttt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHttt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHttt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ntao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ntao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nsua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nsua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdnhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdnhNavigation.Idnh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idhttt">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
