@model IEnumerable<QLRHM.Models.NoiDungThanhToan>

@{
    ViewData["Title"] = "Details";
    Layout = null;
    var ChiTietBaoCaoKHDT = Model.FirstOrDefault(); // Lấy đối tượng đầu tiên từ danh sách Model
    
}

@* <div class="row">
    <div style="text-align:center ; font-weight:900; margin: 10px 0 10px  0;color:red">
        <a> Chi tiết công việc: @ChiTietBaoCaoKHDT.IdndkhNavigation.IdcvdtNavigation.TenCongViec từ ngày: @ViewBag.fromDate đến ngày: @ViewBag.toDate</a>
    </div>

</div> *@
@if (ChiTietBaoCaoKHDT != null)
{
    <div class="row" style="justify-content: end">
        <div class="col-10" style="text-align:center; color:red; text-transform: uppercase">
            <a>Bác sĩ điều trị: @ChiTietBaoCaoKHDT.IdndkhNavigation.IdbsdtNavigation.MaBacSi - @ChiTietBaoCaoKHDT.IdndkhNavigation.IdbsdtNavigation.TenBs </a>
        </div>
        <div class="col-md-2" style="display:block;">
            <a class="btn btn-danger" asp-action="PdfChiTietND_KHDT" asp-controller="ThongKe" asp-route-id="@ChiTietBaoCaoKHDT.IdndkhNavigation.IdbsdtNavigation.Idbs" asp-route-fo="@ViewBag.fromDate" asp-route-to="@ViewBag.toDate">Xuất pdf</a>
            <a class="btn btn-success" asp-action="ExcelChiTietND_KHDT" asp-controller="ThongKe" asp-route-id="@ChiTietBaoCaoKHDT.IdndkhNavigation.IdbsdtNavigation.Idbs" asp-route-fo="@ViewBag.fromDate" asp-route-to="@ViewBag.toDate">Xuất excel</a>
        </div>
    </div>
}

@using (Html.BeginForm("ChiTietKHDT", "ThongKe", FormMethod.Post, new { id = "abc", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <table class="table example2" >
        <thead>
            <tr style="background-color:#eff6fe;border: 5px solid  rgba(135,206,250,0.5);text-align:center ; font-size:13px">

                <th>
                    Stt
                </th>
                <th>
                    Mã kế hoạch điều trị
                </th>
               
            
                <th>
                    Mã bệnh nhân
                </th>
                <th>
                    Tên bệnh nhân
                </th>
              
                <th>
                   Tên công việc điều trị
                </th>
                <th>
                    Số lần điều trị
                </th>
                 <th>
                   Đơn giá
                </th>
                 <th>
                   Tình trạng
                </th>

            </tr>
        </thead>

        @{
            int stt = 1;
        }
        @foreach (var ChiTietBCKHDT in Model)
        {
            <tr style="font-size:12px">

                <td>
                    @stt
                </td>
                <td>
                    @ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.MaKeHoacDieuTri
                </td>

               

                <td>
                    @ChiTietBaoCaoKHDT.IdndkhNavigation.IdkhdtNavigation.IdbnNavigation.MaBenhNhan
                </td>
                <td>
                    @ChiTietBaoCaoKHDT.IdndkhNavigation.IdkhdtNavigation.IdbnNavigation.TenBn
                </td>

                <td>
                    @ChiTietBCKHDT.IdndkhNavigation.IdcvdtNavigation.TenCongViec
                </td>

                <td style="text-align:center">
                    @ChiTietBCKHDT.IdndkhNavigation.SoLan
                </td>

                <td style="text-align:right">
                    @ChiTietBCKHDT.FormattedSoTienThanhToan
                </td>
                <td>
                @if (ChiTietBCKHDT.ThanhToan == "1" && (ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.DieuTri == "1" || ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.DieuTri == "3"))
                {                                  
                        <a>Đã điều trị</a>
                }
                else if (ChiTietBCKHDT.ThanhToan == "0" && ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.DieuTri == "3")
                {                 
                        <a style="color:red">Bị huỷ</a>                   
                }
                else if (ChiTietBCKHDT.ThanhToan == "0" && ChiTietBCKHDT .IdndkhNavigation.IdkhdtNavigation.DieuTri == "1")
                {                  
                        <a>Đang điều trị</a>
                }
                    </td>
            </tr>
            stt++;
          
        }
      

    </table>

}
<script src="~/js/modal_chitiet.js" asp-append-version="true"></script>