@model IEnumerable<QLRHM.Models.NoiDungThanhToan>

@{
    ViewData["Title"] = "Details";
    Layout = null;
    var ChiTietBaoCaoKHDT = Model.FirstOrDefault(); // Lấy đối tượng đầu tiên từ danh sách Model
    var TongTien = 0;
    string currentMaKeHoach = null; int rowCount = 1; // Số dòng cần gộp cho mỗi nhóm
}

@* <div class="row">
    <div style="text-align:center ; font-weight:900; margin: 10px 0 10px  0;color:red">
        <a> Chi tiết công việc: @ChiTietBaoCaoKHDT.IdndkhNavigation.IdcvdtNavigation.TenCongViec từ ngày: @ViewBag.fromDate đến ngày: @ViewBag.toDate</a>
    </div>

</div> *@
@if (ChiTietBaoCaoKHDT != null)
{
    <div class="row" style="justify-content: end">
        <div class="col-10" style="text-align:center; color:red; text-transform: uppercase">
            <a>Bác sĩ lập kế hoạch điều trị: @ChiTietBaoCaoKHDT.IdndkhNavigation.IdkhdtNavigation.IdbsNavigation.MaBacSi - @ChiTietBaoCaoKHDT.IdndkhNavigation.IdkhdtNavigation.IdbsNavigation.TenBs </a>
        </div>
        <div class="col-md-2" style="display:block;">
            <a class="btn btn-danger" asp-action="PdfChiTietKHDT" asp-controller="ThongKe" asp-route-id="@ChiTietBaoCaoKHDT.IdndkhNavigation.IdkhdtNavigation.IdbsNavigation.Idbs" asp-route-fo="@ViewBag.fromDate" asp-route-to="@ViewBag.toDate">Xuất pdf</a>
            <a class="btn btn-success" asp-action="ExcelChiTietKHDT" asp-controller="ThongKe" asp-route-id="@ChiTietBaoCaoKHDT.IdndkhNavigation.IdkhdtNavigation.IdbsNavigation.Idbs" asp-route-fo="@ViewBag.fromDate" asp-route-to="@ViewBag.toDate">Xuất excel</a>
        </div>
    </div>
}

@using (Html.BeginForm("ChiTietKHDT", "ThongKe", FormMethod.Post, new { id = "abc", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <table class="table example2" >
        <thead>
            <tr style="background-color:#eff6fe;border: 5px solid  rgba(135,206,250,0.5);text-align:center ; font-size:14px">

                <th>
                    Stt
                </th>
              
                <th>
                    Mã kế hoạch
                </th>
                <th>
                    Ngày lập KH
                </th>
                <th>
                    Mã bệnh nhân
                </th>
                <th>
                    Tên bệnh nhân
                </th>
               <th>
                    Mã bác sĩ điều trị
                </th>
                <th>
                    Tên bác sĩ điều trị
                </th>
                <th>
                   Tên công việc điều trị
                </th>
                <th>
                    Số lần điều trị
                </th>
                 <th>
                   Đơn giá
                </th>
                <th>
                    Tình trạng
                </th>
            </tr>
        </thead>

        @{
            int stt = 1;
        }
        @foreach (var ChiTietBCKHDT in Model)
        {
            <tr style="font-size:12px">
                <td>                   
                        @stt
                </td>

              

                <td>
                   
                        @ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.MaKeHoacDieuTri
                    
                </td>

                <td>
                   
                        @ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.NgayLap
                    
                </td>
                <td>
                    
                         @ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.IdbnNavigation.MaBenhNhan
                   
                    
                </td>
              @*   <td>
                    @if (currentMaKeHoach != ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.MaKeHoacDieuTri)
                    {
                        @ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.IdbnNavigation.TenBn
                    }
                </td>  *@
                <td>
                    @if (currentMaKeHoach != ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.MaKeHoacDieuTri)
                    {
                        @ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.IdbnNavigation.TenBn
                    }
                </td>





                <td>
                    @ChiTietBCKHDT.IdndkhNavigation.IdbsdtNavigation.MaBacSi
                </td>
                 <td>
                    @ChiTietBCKHDT.IdndkhNavigation.IdbsdtNavigation.TenBs
                </td>
                 

                 <td>
                    @ChiTietBCKHDT.IdndkhNavigation.IdcvdtNavigation.TenCongViec
                </td>

                <td style="text-align:center">
                    @ChiTietBCKHDT.IdndkhNavigation.SoLan
                </td>

                <td style="text-align:right">
                    @ChiTietBCKHDT.IdndkhNavigation.FormattedDonGia
                </td>

                @if (ChiTietBCKHDT.ThanhToan == "1" && (ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.DieuTri == "1" || ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.DieuTri == "3"))
                {

                    <td>
                        <a>Đã điều trị</a>
                    </td>

                }
                else if (ChiTietBCKHDT.ThanhToan == "0" && ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.DieuTri == "3")
                {
                    <td>
                        <a style="color:red">Bị huỷ</a>
                    </td>
                }
                else if (ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.DieuTri == "2")
                {
                    <td>
                        <a style="color:red">Bị huỷ</a>
                    </td>
                }

                else if (ChiTietBCKHDT.ThanhToan == "0" && ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.DieuTri == "1")
                {
                    <td>
                        <a>Đang điều trị</a>
                    </td>
                }
            </tr>
@* 
            @if (currentMaKeHoach != ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.MaKeHoacDieuTri)
            {
                
                currentMaKeHoach = ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.MaKeHoacDieuTri;
            } *@
            stt++;
        }
        
    </table>

}
<script src="~/js/modal_chitiet.js" asp-append-version="true"></script>