@model IEnumerable<QLRHM.Models.NoiDungThanhToan>
@using QLRHM.Models
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Home_Modal.cshtml";

}

<div class="table" style="min-width:900px ; max-width:700px;color:black ">
    <div>
        <span style="font-weight:900;padding-left:8px">
            PHÒNG KHÁM NHA KHOA RĂNG HÀM MẶT
        </span>

    </div>
    <div>
        <a style="font-size: 14px; font-weight: normal;">
            <span>  Địa chỉ : 69/96 tổ 3 , ấp 6 , đường Nguyễn Văn Bữa , Hóc Môn , Thành phố Hồ Chí Minh <br></span>
            <span style="margin-top: 5px; display: block;">Sđt: 03827847566</span>
            <span>Gmail: PhongKhamNhaKhoaRHM@gmail.com</span>
        </a>
    </div>
    
</div>
<center>
    <div style="padding-top:30px; margin-bottom:20px;text-transform: uppercase">
       
            <a style="color:red">Danh sách chi tiết toàn bộ kế hoạch điều trị ngày @ViewBag.fromDate - @ViewBag.toDate</a>

            <br>
           
        

    </div>
</center>
@using (Html.BeginForm("PdfThongKeChiTietKHDT", "ThongKe", FormMethod.Post, new { id = "abc", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <table class="table " >
        <thead>
            <tr style="background-color:#eff6fe;border: 5px solid  rgba(135,206,250,0.5);text-align:center ; font-size:13px">

                <th>
                    Stt
                </th>
                <th>
                    Mã BSKH
                </th>
                <th>
                    Tên BSKH
                </th>

                <th>
                    Mã kế hoạch
                </th>
                <th>
                    Ngày lập KH
                </th>
                <th>
                    Mã BN
                </th>
                <th>
                    Tên BN
                </th>
                <th>
                    Mã BSĐT
                </th>
                <th>
                    Tên BSĐT
                </th>
                <th>
                    Tên CVDT
                </th>
                <th>
                    Đơn giá gốc
                </th>
                <th>
                    Đơn giá TT
                </th>
                <th>
                    Ghi chú
                </th>
                <th>
                    Tình trạng
                </th>
              

            </tr>
        </thead>

        @{
            int st = 1;
        }
        @foreach (var ChiTietBCKHDT in Model)
        {
            <tr style="font-size:12px" >
                <td style="width:2%">
                    @st
                </td>

                <td style="width:7%">

                    @ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.IdbsNavigation.MaBacSi
                </td>
                <td style="width:8%">
                    @ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.IdbsNavigation.TenBs
                </td>
                <td style="width:10%">
                    @ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.MaKeHoacDieuTri
                </td>

                <td style="width:10%">

                    @ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.NgayLap

                </td>
                <td style="width:10%">

                    @ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.IdbnNavigation.MaBenhNhan


                </td>

                <td style="width:8%">
                    @ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.IdbnNavigation.TenBn
                </td>

                <td style="width:7%">
                    @ChiTietBCKHDT.IdndkhNavigation.IdbsdtNavigation.MaBacSi
                </td>
                <td style="width:8%">
                    @ChiTietBCKHDT.IdndkhNavigation.IdbsdtNavigation.TenBs
                </td>

                <td style="width:10%">
                    @ChiTietBCKHDT.IdndkhNavigation.IdcvdtNavigation.TenCongViec
                </td>
                <td style="text-align:right">
                    @ChiTietBCKHDT.IdndkhNavigation.IdcvdtNavigation.FormattedDonGiaSuDung
                </td>
                <td style="text-align:right">
                    @ChiTietBCKHDT.IdndkhNavigation.FormattedDonGia
                </td>
                <td>
                    @ChiTietBCKHDT.IdndkhNavigation.GhiChu
                </td>
                <td style="width:7%">
                    @if (ChiTietBCKHDT.ThanhToan == "1" && (ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.DieuTri == "1" || ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.DieuTri == "3"))
                    {


                        <a>Đã điều trị</a>


                    }
                    else if (ChiTietBCKHDT.ThanhToan == "0" && ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.DieuTri == "3")
                    {

                        <a style="color:red">Bị huỷ</a>

                    }
                    else if (ChiTietBCKHDT.ThanhToan == "0" && ChiTietBCKHDT.IdndkhNavigation.IdkhdtNavigation.DieuTri == "1")
                    {

                        <a>Đang điều trị</a>

                    }
                </td>
              
            </tr>

            st++;
        }

    </table>

}
