@using QLRHM.Models

@{
    Layout = "~/Views/Shared/Home.cshtml";

    int stt = 1;

}
<body >
    <div class="container-fluid py-5 ">
        <div class="container">
            <ul style="font-weight:bold" class="nav nav-tabs custom-tabs">
                <li class="active"><a data-toggle="tab" href="#home"><i class='bx bx-list-ul'></i> Danh sách hoá đơn đã thanh toán</a></li>
             
            </ul>
            <div class="row" style="padding-top:10px ">
              
                        <form asp-action="ThongKeHoaDon" method="post" id="abc">
                            <div class="row">
                                <!-- ... (các trường khác) ... -->

                                <div class="col-md-3" style="width:210px">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label style="margin-top: 7px;padding-right: 10px;" class="control-label">Từ ngày:</label>
                                            <input name="fo" class="form-control Ngay2" value="@ViewBag.fromDate" placeholder="Từ ngày" />
                                        </div>
                                    </div>
                                </div>

                                 <div class="col-md-3" style="width:220px">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label style="margin-top: 7px;padding-right: 10px;" class="control-label">Đến ngày:</label>
                                            <input name="to" class="form-control Ngay2" value="@ViewBag.toDate" placeholder="Đến ngày" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1" style="width:120px;">
                                    <div class="form-group">
                                        <input style="color:black" type="submit" value="Tìm kiếm" class="btn btn-primary form-control" />
                                    </div>
                                </div>

                        @if (ViewBag.dataHD != null && @ViewBag.TongTienHD != null)
                        {
                            <div class="col-md-2">
                                <div class="form-group" style="padding-top: 10px;">
                                    <h4 class="fs-5"> Tổng Hoá Đơn: <a style="color:#008a43">@ViewBag.dataHD.Count</a></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="padding-top: 10px;">
                                    <h4 class="fs-5"><i class="fa-solid fa-hand-holding-dollar" style="color: #008a43;"></i> Tổng tiền: <a style="color:#008a43">@ViewBag.TongTienHD</a></h4>
                                </div>
                            </div>
                        }
                               


                                <div class="col-md-2">
                                    <div class="form-group">
                                @if (ViewBag.dataHD.Count != 0)
                                        {
                                                 <a href="@Url.Action("PdfThongKeHoaDon", "ThongKe", new { fo = ViewBag.fromDate, to = ViewBag.toDate })" class="btn btn-danger">Xuất pdf</a>
                                                 <a href="@Url.Action("ExcelThongKeHoaDon", "ThongKe", new { fo = ViewBag.fromDate, to = ViewBag.toDate })" class="btn btn-success">Xuất excel</a>
                                }
                                    </div>
                                </div>

                            </div>
                        </form>
                   
            </div>
            <hr>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div style="min-width:1500px; font-size:12px">
                        <table class="table" id="example3">
                            <thead>
                                <tr style="background-color:#eff6fe;border: 5px solid  rgba(135,206,250,0.5);text-align:center">
                                    <th>
                                        Stt
                                    </th>
                                    <th>
                                        Mã phiếu thanh toán
                                    </th>
                                    <th>
                                        Mã bệnh nhân
                                    </th>
                                   

                                    <th>
                                        Tên bệnh nhân
                                    </th>
                                    <th>
                                       GT
                                    </th>
                                    <th>
                                        Ngày sinh
                                    </th>

                                    <th>
                                        Sđt
                                    </th>
                                    
                                    <th>
                                        Tên công việc
                                    </th>
                                     <th>
                                        Hình thức thanh toán
                                    </th>

                                    <th>
                                        Số tiền thanh toán
                                    </th>
                                    <th>
                                        Ngày thanh toán
                                    </th>
                                     <th>
                                       Người thực thu
                                    </th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (NoiDungThanhToan bn in ViewBag.dataHD)
                                {
                                    <tr class="Search table">
                                        <td style="width:2%">
                                            @stt
                                        </td>

                                        <td style="width:7%">
                                            @(bn.IdttNavigation.MaThanhToan ?? "Không có dữ liệu")
                                        </td>
                                        <td style="width:7%">
                                            @(bn.IdndkhNavigation.IdkhdtNavigation.IdbnNavigation.MaBenhNhan ?? "Không có dữ liệu")
                                        </td>
                                        <td>
                                            @(bn.IdndkhNavigation.IdkhdtNavigation.IdbnNavigation.TenBn ?? "Không có dữ liệu")
                                        </td>
                                        <td>
                                            @(bn.IdndkhNavigation.IdkhdtNavigation.IdbnNavigation.GioiTinh ?? "Không có dữ liệu")
                                        </td>

                                        <td style="width:5%">
                                            @(bn.IdndkhNavigation.IdkhdtNavigation.IdbnNavigation.FormatNgaySinh ?? "Không có dữ liệu")
                                        </td>
                                        <td style="width:5%">
                                            @(bn.IdndkhNavigation.IdkhdtNavigation.IdbnNavigation.Sdt ?? "Không có dữ liệu")
                                        </td>
                                      
                                        <td>
                                            @(bn.IdndkhNavigation.IdcvdtNavigation.TenCongViec ?? "Không có dữ liệu")
                                        </td>

                                        <td style="width:20%">
                                            @(bn.IdhtttNavigation.TenHttt) - @(bn.IdhtttNavigation.IdnhNavigation.TenNganHang)  - TK: @(bn.IdhtttNavigation.IdnhNavigation.SoTk)
                                        </td>
                                        <td style="text-align:right">
                                            @(bn.FormattedSoTienThanhToan)
                                        </td>
                                        <td style="width:8%">
                                            @(bn.FormatNgayTao ?? "Không có dữ liệu")
                                        </td>
                                         <td>
                                            @(bn.Ntao ?? "Không có dữ liệu")
                                        </td>

                                    </tr>
                                    stt++;
                                }


                            </tbody>
                        </table>
                    </div>
                   
                 </div>
            </div>
          

           
              
            </div>


        </div>
    @* </div> *@


    <div class="modal" id="myModal2" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="partial-view-container2"></div>
                </div>
            </div>
        </div>
    </div>

</body>