@model QLRHM.Models.NhomCongViec
@using QLRHM.Models

@{
    Layout = "~/Views/Shared/Home.cshtml";

}
<style>
    td  {
        border: 5px solid #ececec;
    }

     tr {
        border: 5px solid #ececec;
    }
    select.form-control option {
        color: black; /* Đặt màu chữ là màu đen */
    }

    tr:hover {
        background-color: #ececec; /* Màu nền khi hover trên dòng */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Thêm shadow khi hover */
    }

        tr:hover td {
            background-color: transparent; /* Làm cho màu nền của ô trong dòng trở lại màu trong suốt */
        }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333%;
        border: 5px solid #e5e5e5;
        padding-bottom: 10px;}

    .sticky-header {
        position: sticky;
        top: 100px;
       
        background-color: #fff; /* Thay đổi màu nền theo ý muốn */
        z-index: 999; /* Số này xác định vị trí ưu tiên trên màn hình, tùy chỉnh nếu cần */
        /* Thêm các thuộc tính khác cho phần tử này nếu cần */
    }

    
</style>
@* <h4>NhomCongViec</h4> *@
<div class="container-fluid py-5 ">
    <div class="container" style="border: 1px solid #b8ceff;padding-bottom:10px">
        <center>   <a style="text-align:center;font-weight:600;padding-top:10px;padding-bottom:10px ;color:red">Thêm nhóm công việc</a></center>
        <hr>
        @using (Html.BeginForm("CreateMaster", "NhomCongViecs", FormMethod.Post, new { enctype = "multipart/form-data", id = "ApplicantForm" }))
        {
            <div class="container-fluid" style="color:black">
                <div class="row">
                    <div class="row" style="border: 0px solid #b8ceff;padding-bottom:10px">
                 @*        <form  enctype="multipart/form-data" asp-action="CreateMaster">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Mã nhóm công việc</label>
                                <div class='input-group'>
                                <input style="background-color:white;color:blue" name="MaNCV" type="text" value="@TempData["GeneratedMaNcv"]" class="form-control" readonly />
                                </div>
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Tên nhóm công việc</label>
                                <div class='input-group'>
                                    <input name="TenNCV" id="TenNCV" type="text" class="form-control" required oninvalid="this.setCustomValidity('Không được bỏ trống tên nhóm');" oninput="setCustomValidity('')" />
                                </div>
                                <span id="TenNCVError" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Ngày thêm</label>
                                <div class='input-group'>
                                    <input name="NgayTao" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")" class="form-control" readonly />
                                </div>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <a style="text-align:center;font-weight:600;padding-top:10px;padding-bottom:10px ;color:red" >Thêm công việc</a>
                    <div class="row" style="padding-bottom:10px "  >

                        <table id="ExpTable" class="table table-striped test ">
                            <thead class="sticky-header">
                                       
                                        <tr style="background-color:#eff6fe" >
                                           
                                           
                                            <th>
                                                Mã công việc
                                            </th>
                                            <th>
                                                Tên công việc
                                            </th>
                                            <th>
                                                Mô tả
                                            </th>
                                            <th>
                                                BH(Ngày)
                                            </th>
                                            <th>
                                                 Đơn giá
                                            </th> <th>
                                                 Ngày tạo
                                            </th>
                                    <th style="width:3.5%">
                                      @*   <button id="btnadd" type="button" class="btn btn-sm btn-primary visible"
                                                onclick="AddItem(this)">
                                          <i class='bx bx-plus-medical'   ></i>
                                        </button> *@
                                    </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                                      
                                
                                        @for (int i = 0; i < Model.MasterCV.Count; i++) 
                                        {
                                            <tr>
                                        <td style="width: 12%">
                                            <input style="color:blue" asp-for="@Model.MasterCV[i].MaCongViec" value="@TempData["GeneratedMacv"]" class="form-control" />
                                                </td>

                                                <td>
                                            <input asp-for="@Model.MasterCV[i].TenCongViec" class="form-control" required oninvalid="this.setCustomValidity('Không được bỏ trống tên Công việc');" oninput="setCustomValidity('')" />
                                                </td>

                                                <td>
                                            <textarea style="height:36px" asp-for="@Model.MasterCV[i].MoTa" id="MoTaInput" class="form-control" required oninvalid="this.setCustomValidity('Không được bỏ trống mô tả');" oninput="setCustomValidity('')"></textarea>
                                        </td>
                                        <td style="width: 8%">
                                                    <select asp-for="@Model.MasterCV[i].Idbh" asp-items="@ViewBag.idbh" class="form-control">
                                                    </select>
                                                </td>
                                        <td style ="width: 11%">
                                            <input name="@Model.MasterCV[i].DonGiaSuDung" type="text" class="form-control" required oninvalid="this.setCustomValidity('Không được bỏ trống đơn giá');" oninput="setCustomValidity('')" onkeyup="formatCurrency(this)" />
                                          @*   <span asp-validation-for="@Model.MasterCV[i].DonGiaSuDung" class="text-danger"></span> *@
                                                </td>
                                        <td style="width: 13.8%">
                                            <input asp-for ="@Model.MasterCV[i].NgayTao" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")" class="form-control" readonly />
                                                </td>

                                        <td>
                                            @* <button id="btndummy-@i" type="button" class="btn btn-sm invisible">Dumy</button> *@
                                            <button id="btnadd-@i" type="button" class="btn btn-sm btn-success visible" style="position:absolute;"
                                                    onclick="AddItem(this)">
                                                <i class='bx bx-plus-medical'></i>
                                            </button>
                                            <button id="btnremove-@i" type="button" class="btn btn-sm btn-danger invisible" style="position:absolute;"
                                                    onclick="DeleteItem(this)">
                                                <i class='bx bxs-trash' style='color:#ffffff'></i>
                                            </button>
                                        </td>
                                            </tr>
                                        
                                            }
                                        
                                    </tbody>
                                </table>
                            </div>
               
                            <input type="hidden" id="hdnLastIndex" value="0"/>
                            
                    <div class="col-15  p-2 btn-group" style=" justify-content: flex-end">
                                <div class="col-2 form-group text-right p-2">
                            <a asp-action="Index" class="btn btn-primary" style="float: right;">&nbsp;Quay lại&nbsp;</a>
                                </div>
                                <div class="col-1 form-group text-left p-2">
                            <input type="submit" value="Lưu" class="btn btn-primary" />
                                </div>
             
                        </div>
                    
                
             </div>
          </div>
        }
       
    </div>
 </div>


 @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(".form-control").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".control-label").addClass("selected").html(fileName);
        });
    function DeleteItem(btn) {
        var rows = $('#ExpTable tbody tr');
        if (rows.length > 1) { // Kiểm tra xem có nhiều hơn một dòng trong bảng
            $(btn).closest('tr').remove();
        } else {
            alert("Bạn không thể xoá dòng cuối cùng.");
        }
    }
        function AddItem(btn) {

            var table = document.getElementById('ExpTable');
            var rows = table.getElementsByTagName('tr');

            var rowOuterHtml = rows[rows.length - 1].outerHTML;

            var lastrowIdx = document.getElementById('hdnLastIndex').value;

            var nextrowIdx = eval(lastrowIdx) + 1;

            document.getElementById('hdnLastIndex').value = nextrowIdx;

            rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
            rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
            rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx, '-' + nextrowIdx);


            var newRow = table.insertRow();
            newRow.innerHTML = rowOuterHtml;



            // var btnAddID = btn.id;
            // var btnDeleteid = btnAddID.replaceAll('btnadd', 'btnremove');
        var btnAddID = btn.id;
        var btnDeleteid = btnAddID.replaceAll('btnadd', 'btnremove');

        var delbtn = document.getElementById(btnDeleteid);
        delbtn.style.display = "inline"; // hoặc "block" nếu cần

        // Ẩn nút "Thêm" cho dòng mới
        var addbtn = document.getElementById(btnAddID);
        addbtn.style.display = "none"; // hoặc bạn có thể sử dụng "hidden" nếu muốn
            var delbtn = document.getElementById(btnDeleteid);
            delbtn.classList.add("visible");
            delbtn.classList.remove("invisible");


            var addbtn = document.getElementById(btnAddID);
            addbtn.classList.remove("visible");
            addbtn.classList.add("invisible");

            rebindvalidators();
        }
        function rebindvalidators() {
            var $form = $("#ApplicantForm");

            $form.unbind();

            $form.data("validator", null);

            $.validator.unobtrusive.parse($form);

            $form.validate($form.data("unobtrusiveValidation").options);
        }
  
    </script>}
    <script>
        function formatCurrency(input) {
            // Lấy giá trị nhập vào
            let value = input.value;

            // Loại bỏ tất cả các dấu chấm và dấu phân cách khác
            value = value.replace(/[^0-9]/g, '');

            // Định dạng lại giá trị thành số tiền có dấu chấm phân cách hàng nghìn
            if (value.length > 3) {
                value = value.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
            }

            // Gán giá trị đã định dạng lại vào trường input
            input.value = value;
        }
    </script>

    <script>
        const textareaElement = document.getElementById("MoTaInput");

        textareaElement.addEventListener("input", function () {
            // Tính toán chiều cao mới dựa trên số dòng của nội dung
            // const lineHeight = parseFloat(getComputedStyle(this).lineHeight);
            // const lines = this.value.split("\n").length;
            // const newHeight = lineHeight * lines;

            // Giới hạn chiều cao tối đa (nếu muốn)
            const maxHeight = lineHeight * 5; // Giới hạn chiều cao tối đa là 5 dòng

            // Áp dụng chiều cao mới và giới hạn tối đa (nếu cần)
            this.style.height = newHeight <= maxHeight ? newHeight + "px" : maxHeight + "px";
        });


    </script>
