@model QLRHM.Models.BacSi

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BacSi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaBacSi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaBacSi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenBs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenBs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhBs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhBs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cccd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cccd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueQuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueQuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zalo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zalo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facebook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ntao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ntao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nsua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nsua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdnbsNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdnbsNavigation.Idnbs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idbs">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
