@* @model QLRHM.Models.KeHoachDieuTri

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h1>Details</h1>

<div>
    <h4>KeHoachDieuTri</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKeHoacDieuTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKeHoacDieuTri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayLap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DieuTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DieuTri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nsua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nsua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdbnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdbnNavigation.Idbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdbsNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdbsNavigation.Idbs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idkhdt">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@